nav{
text-align: right;
}

body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .button-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .button.disabled {
            background-color: #ddd;
            cursor: not-allowed;
        }

        .button:hover:not(.disabled) {
            background-color: #2980b9;
        }